*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: sregular;
    src: url(./font/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);   
}
@font-face {
    font-family: sbold;
    src: url(./font/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}
@font-face {
    font-family: smedium;
    src: url(./font/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}
body{
    background-color: #121212;
    /* padding: 0 0 70px; */
}
.section-header{
    background-color: #000000;
}
.header-mobile{
    background-color: black;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding:  4px 16px 0px 16px;
    height: 56px;
    align-items: center;
}
.header-mobile div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
    bottom: 2px;
}
.header-mobile button{
    font-weight: 700;
    font-size: 13px;
    color: #000000;
    background-color: #FFFFFF;
    padding: 8px 16px;
    border-radius: 9999px;
    min-height: 32px;
    font-family: smedium;
    border: none;
}
.lap-header {
    display: none;
}

.greenPlybtn{
    background-color: #1ed670;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 100px;
    right: 8px;
    border: none;
    display: none;
}
.songs div:nth-child(1){
    position: relative;
    
}
/* sideNav */
.sidenavRefresh{
    background-color: #000000;
    position: relative;
    left: 295px;
    bottom: 36px;
    border: none;
}
.sidenav{
    padding: 56px 40px;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    z-index: 100;
    display: none;
}
.sidenavView{
    display: flex;
    gap: 8px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    padding: 12px 0;
}
.sidenavView h4{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: sbold;
    color:white;
}
.sidenavSpan{
    display: flex;
    flex-direction: column;
}
.sidenavProfile{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: normal;
    font-family: smedium;
    cursor: pointer;
    color: #FFFFFF;
    padding: 12px 0;
}
.sidenavLogout{
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: normal;
    line-height: normal;
    font-family: smedium;
    color: #FFFFFF;
    padding: 12px 0;
}
.sidenav ul li{
    list-style: none;
    color: #FFFFFF;
    padding: 8px 0;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: normal;
    font-family: sregular;
}
.sidenav ul{
    position: relative;
    margin-top: 50px ;
}
.sidenav ul::before{
    position: absolute;
    content: " ";
    height: 2px;
    width: 20px;
    background-color:white;
    top: -25px;
}
    
.sidenavView img{
    background-color: #000000;
}

/* display block-section */ 
 .open{
    display: block;
} 
 /* display none-section */
.touch{
    display: none !important;
}

@media screen and (min-width:1024px){
    /* .section-header {
        padding: 4px 13px 0 16px;
    }
     */
}
@media screen and (min-width:1440px){
    .lap-header {
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 6px 5px 7px 8px;
        align-items: center;
    }
    .header-mobile{
        display: none;
    }
    .lap-header-main{
        display: flex;
        gap: 8px;
    }
    .lap-header-homesection {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .lap-header-homesection div:nth-child(2) {
        background-color: #1F1F1F;
        padding: 12px;
        border-radius: 50%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .lap-header-homesection div:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 72px; */
        width: 72px;

    }
    .lap-header-searchsection {
        position: relative;
    }
    .lap-header div:nth-child(2){
        display: flex;
        justify-content: center;
        /* width: fit-content; */
    }
    /* .lap-header-searchsection div:nth-child(2) {
        padding: 12px 96px 12px 48px;
        background-color: #1F1F1F;
        border-radius: 500px;
        width: 474px;
    } */
    .lap-header-searchsection div:nth-child(2) input{
        font-size: 16px;
        font-weight: 400;
        /* background: transparent; */
        border: none;
        font-family: smedium;
        padding: 12px 96px 12px 48px;
        background-color: #1F1F1F;
        border-radius: 500px;
        width: 474px;
    }
    .lap-header-searchsection div:nth-child(2) input::placeholder{
        color:#b3b3b3;
    }
    .lap-header-searchsection div:nth-child(1) {
        position: absolute;
        right: 16px;
        top: 12px;
    }
    .lap-header-searchsection div:nth-child(3) {
        position: absolute;
        left: 12px;
        top: 11px;
    }
    .lap-header-searchsection div:nth-child(1)::after{
        content: '';
        position: absolute;
        width: 1px;
        height: 25px;
        background-color: #B3B3B3B3;
        right: 36px;
    }
    .lap-header-loginsection {
        display: flex;
        justify-content: center;
        align-items: center;
        /* gap: 8px; */
    }
    /* .lap-header-loginsection span {
        color: #B3B3B3;
        font-size: 16px;
        font-family: sregular;
        font-weight: 700;
    } */
    .lap-header-loginsection span:nth-child(3) {
        padding-right: 23px;
        position: relative;
    }
    .lap-header-loginsection span:nth-child(3)::after{
        content: '';
        position: absolute;
        width: 1px;
        height: 25px;
        background-color:#FFFFFF;
        right: -2px;
        top: 6px;  
    }
    .lap-header-loginsection img {
        margin-left: 18px;
    }
    .loginsection-span {
        padding: 8px 8px 8px 0px;
        color: #B3B3B3;
        font-size: 16PX;
        font-weight: 700;
        font-family: sbold;
        letter-spacing: normal;
        line-height: normal;

    }
    .loginsection-subspan {
        padding: 4px 16px 4px 10px;
        color: #B3B3B3;
        font-size: 14px;
        font-family: sregular;
        font-weight: 700;
    }
    .loginsection-spandiv{
        padding: 4px 24px 4px 20px;
        align-items: center;
        display: flex;
        gap: 8px;
        color: #B3B3B3;
        font-size: 14px;
        font-family: smedium;
        font-weight: 700;
    }
    .lap-header-loginsection button {
        padding: 15px 32px 15px 32px;
        background-color: #FFFFFF;
        color: #000000;
        font-weight: 700;
        font-size: 16px;
        border-radius: 9999px;
        font-family: smedium;
        /* display: flex;
        align-items: center;
        justify-content: center;
        text-align: center; */
    } 
}
/* home-banner */
.home-banner{
    width: 100%;
}
.home-banner-main {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    background-color: #2a2a2a;
    margin: 16px 16px 0px;
    padding: 16px;
    border-radius: 16px;
}
.premium {
    height: 20px;
    width: 75px;
}
.cross {
    width: 17px;
    position: relative;
    left: 3px;
    bottom: 2px;
}
.premium-svg {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.home-banner-main div:nth-child(2) h2 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    font-family: smedium;
}
.home-banner-main div:nth-child(3) h5 {
    font-size: 13px;
    color: #939393;
    font-family: sregular;
    font-weight:400;
}
.home-button-one {
    background-color: #1ed670;
    padding: 8px 16px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
    color: #000;
    font-family: smedium; 
    border: none;   
}
.home-banner-main div:nth-child(4) {
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.home-button-two {
    display: inline-flex;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 13px;
    font-family: smedium;
    background-color: transparent;
    padding: 4px 16px;
    border: none;
    letter-spacing: 0.08px;
}
.home-banner-main span {
    font-size: 11px;
    color: #939393;
    font-weight: 400;
    font-family: smedium;
    line-height: 15px;
    letter-spacing: -0.02px;
}
.home-banner-main span a {
    color: #939393;
}
.al {
    position: relative;
    top: 0.5px;
    text-decoration: none;
}
@media screen and (min-width:425px){
    .home-banner-main div:nth-child(2) h2 {
        width: 90%;
    }    
}
@media screen and (min-width:1024px){
    .home-banner-main {
        margin: 16px 17px 0px 16px;
    }  
}
@media screen and (min-width:1440px){
    .home-banner-main{
        margin: 16px 13px 0px 16px;
        display: none;
    }

    
}
.body-banner{
    padding: 0 16px;
}
.body-heading {
    margin-top: 24px;
    margin-bottom: 12px;
}
.body-heading h2 {
    color: #FFFFFF;
    font-weight: 700;
    font-family: smedium;
    font-size: 20px;
}
.body-data{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: none;
}
.songs{
    padding: 8px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 4px;
}
.songs:nth-child(1){
    padding-left: 0;
}
.songs:nth-last-child(1){
    padding-right: 0;
}
/* .song {
    padding: 8px 8px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
} */
.song div:nth-child(1){
    /* height: 152px; */
    /* width: 100%; */
}
.songs img {
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    height: 152px;
    width: 152px
}
 .song img {
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    height: 152px;
    width: 152px;
} 
.songs a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    font-family: sregular;
}
.song a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    font-family: sregular;
}
/* footer */
footer{
    padding: 10px 16px 63px;
}
.footer-one{
    margin-top: 32px;
}
.footer-one-sub-one div:nth-child(1){
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 0 0 32px;
}
.footer-one a {
    color: #B3B3B3;
    font-size: 16px;
    font-weight: 400;
    font-family: smedium;
    text-decoration: none;
    padding: 0 0 11.5px;
}
.footer-one p {
    color: #FFFFFF;
    margin-bottom: 11px;
    font-size: 16px;
    font-weight: 700;
    font-family: smedium;
    letter-spacing: 0.1px;
}
.footer-one-sub-one div:nth-child(2){
    display: flex;
    flex-direction: column;
    margin: 0  0 32px;
}
.footer-one-sub-two div{
    display: flex;
    flex-direction: column;
    margin: 0 0 32px;
}
.footer-one div:nth-child(4){
    display: flex;
    flex-direction: column;
    margin: 0 0 32px;
}
.footer-svg {
    display: flex;
    margin: 0 0 39px;
    position: relative;
    bottom: 4px;
}
.footer-svg div:nth-child(1) {
    width: 40px;
    height: 40px;
    background-color: #292929;
    /* padding: 0 16px 0 0; */
    margin: 0px 16px 0px 0px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-svg div:nth-child(2){
    width: 40px;
    height: 40px;
    background-color: #292929;
    /* padding: 0 16px 0px; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px 0px 0px;   
}
.footer-svg div:nth-child(3){
    width: 40px;
    height: 40px;
    background: #292929;
    /* padding: 0 16px 0px; */
    margin: 0 16px 0px 0px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .footer-svg div:nth-child(2){
    width: 16px;
    height: 16px;
}
.footer-svg div:nth-child(3){
    width: 16px;
    height: 16px; */
.footer-svg div svg{
    width: 16px;
    height: 16px; 
}
@media screen and (min-width:768px){
    .footer-one-sub-one {
        display: flex;
    }
    .footer-one-sub-two {
        display: flex;
    }
    .footer-one-sub-one div:nth-child(1){
        margin: 0 24px 32px 0;
        width: 297px;
    }
    .footer-one-sub-one div:nth-child(2){
        margin: 0 24px 32px -3px;
        width: 297px;
    }
    .footer-one-sub-two div:nth-child(1){
        margin: 0 24px 32px 0px;
        width: 297px;
    }
    .footer-one-sub-two div:nth-child(2){
        width: 297px;
        margin: 0 24px 32px -3px;
    }
    .footer-svg{
        bottom: 3px;
    }
}
@media screen and (min-width:1024px){
    .footer-one{
        display: flex;
        justify-content: space-between;
    }
    .footer-one-sub-one div:nth-child(1){
        width: 161px;
        margin: 3px 24px 32px 0px;
    }
    .footer-one-sub-one div:nth-child(2){
        width: 161px;
        margin: 3px 24px 32px 1px;
    }
    .footer-one-sub-two div:nth-child(1){
        width: 161px;
        margin: 5px 24px 32px -42px;
        position: relative;
        right: 8px;
    }
    .footer-one-sub-two div:nth-child(2){
        width: 161px;
        margin: 3px 24px 32px -8px;
    }
    footer{
    padding: 10px 32px 63px;
}
    .footer-svg{
        top: 8px;
        left: 15px;
    }
    
}
 @media screen and (min-width:1440px){ 
    /* .footer-one-sub-one div:nth-child(1){
        width: 245px;
    }
    .footer-one-sub-one div:nth-child(2){
        width: 245px;
    }
    .footer-one-sub-two div:nth-child(1){
        width: 245px;
    }
    .footer-one-sub-two div:nth-child(2){
        width: 245px;
    }
    .footer-one-sub-two div:nth-child(1){
        margin-left: -123px;
    } */
    .body-banner{
        display: none;
    }
    .footer-one{
        display: none;
    }
    footer{
        padding: 0;
    }
}

/* footer-two */
.footer-two{
    padding: 16px 0px 0px;
}
.footer-two a {
    color: #B3B3B3;
    text-decoration: none;
    font-size: 14px;
    font-family: smedium;
    letter-spacing: -0.01px;
}
.footer-two-main{
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 12px;
}
.footer-two div:nth-child(2){
    margin-top: 11px;
    margin-bottom: 4px;
    padding: 0 16px 0 0;
}
.footer-two div:nth-child(2) p {
    color: #B3B3B3;
    font-size: 14px;
    font-family: smedium;
}
.footer-two-last {
    position: relative; 
    padding: 14px 0px 0px;
}  
.footer-two-last svg{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 13px;
    top: 22px;
}
.footer-two-last button{
    background-color: #121212;
    border: 1px solid #7c7c7c;
    border-radius: 9999px;
    color: #FFFFFF;
    padding: 7px 17px 7px 36px;
    font-size: 13px;
    font-family: smedium;
    font-weight: 700;
}
hr{
    border-color: rgba(255,255 ,255 ,0.1);
    margin: 0 0 20px;
    position: relative;
    bottom: 4px;
}
.footer-last{
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #000;
    position: sticky;
    bottom: 0;
}
.footer-last div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    width: 93px;
    position: relative;
    left: 1px;
    bottom: 0px;
}
.footer-last div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 93px;
    position: relative;
    left: 1px;
    bottom: 1px;
}
.footer-last div:nth-child(3){
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 93px;
    position: relative;
    left: 2px;
    bottom: 1px;
}
.footer-last div:nth-child(4){
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 93px;
    position: relative;
    left: 3px;
    bottom: 0px;
}
.footer-last p {
    color: #B3B3B3;
    font-size: 11px;
    font-weight: 400;
    font-family: smedium;
}
.footer-last div:nth-child(1) p{
    color: #FFFFFF;
    font-family:sregular;
    padding-right: 1px;
}
/* media quaries */
@media screen and (min-width:425px){
    .footer-last div:nth-child(1){
        width: 106px;
        padding-right: 1px;
       
    }
    .footer-last div:nth-child(2){
        width: 106px;
        padding-right: 1px;
        
    }
    .footer-last div:nth-child(3){
        width: 106px;
        padding-right: 2px;
    }
    .footer-last div:nth-child(4){
        width: 106px;
        padding-right: 3px;
    }
    
}
@media screen and (min-width:768px){
    hr{
        bottom: 2px;
    }
    .footer-last div:nth-child(1){
        width: 192px;
    }
    .footer-last div:nth-child(2){
        width: 192px;
    }
    .footer-last div:nth-child(3){
        width: 192px;
    }
    .footer-last div:nth-child(4){
        width: 192px;
    }
    
}
@media screen and (min-width:1024px){
    .footer-two{
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 
    .footer-two-last{
        display: none;
    }
    .footer-last div:nth-child(1){
        width: 256px;
    }
    .footer-last div:nth-child(2){
        width: 256px;
    }
    .footer-last div:nth-child(3){
        width: 256px;
    }
    .footer-last div:nth-child(4){
        width: 256px;
    }
}
@media screen and (min-width:1440px){
    /* .footer-last div:nth-child(1){
        width: 360px;
    }
    .footer-last div:nth-child(2){
        width: 360px;
    }
    .footer-last div:nth-child(3){
        width: 360px;
    }
    .footer-last div:nth-child(4){
        width: 360px;
    } */
    .footer-two{
        display: none;
    }
    .footer-last{
        display: none;
    }
    /* hr{
        margin: 0;
        bottom: 0;
    }    */
}
/* desktop section */
.body-banner-desktop{
    background-color: #000;
    display: flex;
}
.body-desktop-one {
    /* height: 757px; */
    max-width: 420px;
    width: 100%;
    background-color: #121212;
    margin: 0 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.desktop-one-sub{
    padding: 20px 16px 8px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 71px;
}
.desktop-one-sub h1 {
   color: #FFFFFF;
   font-size: 16px;
   font-weight: 700;
   margin: 0 0 0 4px;
   font-family: smedium; 
}
.desktop-one-sub img {
    height: 16px;
    width: 16px;
    color: #656565;
}
.desktop-one-sub div:nth-child(2){
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
}
/* desktop-two-sub */
.desktop-two-sub{
    padding: 0 8px 8px;
    display: flex;
    flex-direction: column;
    /* height: 563px; */
    gap: 2px;

}
.sub-two-one{
    margin: 14px 0;
    padding: 16px 20px;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
    border-radius: 8px;
    
}
.desktop-two-sub h2{
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: smedium;
}
.desktop-two-sub span{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    font-family: sbold;
    line-height: normal;

}
.desktop-two-sub button{
    background-color: #FFFFFF;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 9999px;
    font-family: sbold;
}
.sub-two-one div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.sub-two-two{
    background-color: #1F1F1F;
    margin: 8px 0;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    border-radius: 8px;

}
.sub-two-two div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
/* desktop-last */
.desktop-last{
    /* height: 208px; */
}
.desktop-span{
    margin: 32px 0;
    padding: 0 24px;
}
.desktop-span span{
    color: #B3B3B3;
    font-size: 11px;
    font-weight: 400;
    margin-right: 16px;
    font-family: smedium;
    line-height: 30px;   
}
.desktop-span div{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: start;
}
.desktop-span a{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    text-align: start;
    text-decoration: none;
    font-family: smedium;
}
.desktop-last div:nth-child(2){
    padding: 0 24px;
    margin-bottom: 32px;
    position: relative;
}
.desktop-last div:nth-child(2) img{
    position: absolute;
    left:37px;
    top: 6px;
}
.desktop-last div:nth-child(2) button{
    padding: 4px 16px 4px 36px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    background-color: transparent;
    border-radius: 9999px;
    text-align: center;
    border: 1px solid #7c7c7c;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    font-family: sbold;
}
/* desktop-orginal */
.body-banner-desktop{
    display: none;
}

 /* .home-banner{
    display: block;
}
.body-banner{
    display: block;
}  */
.desktop-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 24px 7px 15px;
    background-image: linear-gradient(90deg,#af2896,#509bf5);
    height: 66px;
    margin: 0 8px;
    position: sticky;
    bottom: 0;
    display: none;
}
.desktop-footer .pfirst{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    font-family: sbold;
    line-height: normal;
}
.desktop-footer .psecond{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    font-family: smedium;
    line-height: normal;
}
.desktop-footer button{
    background-color: #FFFFFF;
    padding: 14px 32px;
    border-radius: 9999px;
    color: #000000;
    font-size: 16px;
    font-family: sbold;
    font-weight: 700;
    letter-spacing: normal;
    line-height: normal;

    border: none;
}
.body-desktop-last{
    width: 100%;
    overflow: scroll;
}
@media screen and (min-width:1440px){
    .body-banner-desktop{
        display: block;
        display: flex;
        height: calc(100vh - 140px);
        padding-bottom: 8px;
    }
    .body-banner-large{
        display: block;
        flex: 1;
        overflow: scroll;
        scrollbar-width: none;
        padding: 0 16px;
    }
    .body-banner-large h2 {
        font-size: 24px;
    }
    .body-desktop-last{
        background-color: #121212;
        border-radius: 8px;
    }
    .body-main-one{
        padding: 4px 12px 32px;
    }
    .body-banner-large .songs{
        padding: 12px;
        cursor: pointer;
    }
    .body-banner-large .songs img{
        height: 154px;
        width: 154px;
        border-radius: 6px;
    }
    .body-banner-large .body-heading{
        margin-top: 14px;
        padding-left: 12px;
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
    }
    .body-heading span {
        color: #b3b3b3;
        font-size: 14px;
        font-weight: 700;
        font-family: sbold;
        line-height: normal;

    }
    .desktop-data .songs img {
        border-radius: 9999px;
    }
    .footer-one-sub-one div:nth-child(1){
        width: 20%;
    }
    .footer-one-sub-one div:nth-child(2){
        width: 20%;
    }
    .footer-one-sub-one {
        flex: 1 1 50%;
    } 
    .desk {
        display: block;
        display: flex;
        overflow: hidden;
        /* color: #B3B3B3; */
    }
    .body-main-two{
        padding: 8px 32px 40px;
    }
  .footer-one-sub-one div{
    width: 20%;
    margin: 0 24px 32px 0;
    display: flex;
    flex-direction: column;
  }
  .footer-two div:nth-child(1){
    color:#B3B3B3;
    font-size: 14px;
    font-family: smedium;
  }
  hr{
    margin: 0 0 24px;
    display: none;
  }
  .desktop-footer{
    display: block;
    display: flex;
  }

}


